* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: sans-serif;

}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar {
  background: #f5f7fa;
  min-height: 50vh;
  padding-top: 30px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.top-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu {
  display: flex;
  gap: 40px;
  align-items: center;
  
}

.menu li a {
  text-decoration: none;
  color: #18191F;
  font-size: 16px;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.loginbtn {
  width: 77px;
  height: 40px;
  color: #4CAF4F;
  border-radius: 6px;
  background-color: #f5f7fa;
  border: none;
  cursor: pointer;
}

.signupbtn {
  width: 91px;
  height: 40px;
  border-radius: 6px;
  color: #fff;
  background-color: #4CAF4F;
  border: none;
  cursor: pointer;
}

.bars {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bars span {
  width: 25px;
  height: 3px;
  background: black;
  margin: 4px 0;
}

.close {
  display: none;
  background: none;
  border: none;
  font-size: 35px;
  color: red;
  cursor: pointer;
  margin-left: auto;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}

.carousel__inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel__slide{
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-title{
  font-size: 64px;
  font-weight: 600;
  color: #4D4D4D;
  line-height: 1.2;

}

.header-title span{
  color: #4CAF4F;
}

.header-text{
  margin: 16px 0 32px 0;
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  max-width: 500px;
}

.header-btn{
  background-color: #4CAF4F;
  color: #FFFFFF;
  padding: 14px 28px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.header-btn:hover{
  background-color: #4CAF4F;
}

.header__center-right{
  width: 390px;
}

.header__center-right img{
width: 100%;
height: auto;
}

.carousel__dots{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 30px;
}

.dot{
  width: 10px;
  height: 10px;
  background-color: #C1C1C1;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

}

.dot.active{
  background-color: #4CAF4F;
  transform: scale(1.2);
}
@media  (max-width: 768px){
    .bars {
    display: flex;
  }

  .auth-buttons {
    display: none;
  }

  .top {
    margin: 20px;
  }

   .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: white;
    flex-direction: column;
    padding: 20px;
    gap: 25px;
    transform: translateX(-100%);
    transition: 0.3s;
    align-items: flex-start;
    z-index: 1000;
  }

  .menu.show-menu {
    transform: translateX(0);
  }

  .menu.show-menu .close {
    display: block;
  }
}
@media (max-width: 991px) {


  .header-title{
    font-size: 48px;
  }
 .header__center-right{
  width: 100%;
  max-width: 300px;
}
  
}
 .header__center-right{
  width: 250px;
 }
@media (max-width: 768px){
 .carousel__slide {          
  flex-direction: column-reverse;
  text-align: center;
  gap: 20px;
 } 
 

 .carousel__slide img {
   width: 100%;
 }

  .header-title{
    font-size: 36px;

  }
  .header-text{
    margin: 10px auto 25px;
  }
 .header__center-right{
  width: 25px;
 }
 .header-btn{
  width: 100%;
  max-width: 250px;
 }
}

@media (min-width: 769px) {
  .bars {
    display: none;
  }

  .close {
    display: none;
  }

}
.clients-section {
  text-align: center;
  margin-top: 90px;
}

.clients-section h2 {
  font-size: 36px;
  color: #4D4D4D;
}

.subtitle {
  margin-top: 10px;
  color: #717171;
}

.logos {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.logos img {
  max-width: 80px;
  opacity: 0.7;
}

.community {
  margin-top: 80px;
}

.community h2 {
  font-size: 36px;
  color: #4D4D4D;
}

.community p {
  margin-top: 10px;
  color: #717171;
}

.cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px 10px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.card img {
  width: 50px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 22px;
  color: #4D4D4D;
}

.card p {
  margin-top: 10px;
  font-size: 14px;
  color: #717171;
}

@media (max-width: 768px) {
  .logos {
    justify-content: center;
  }

  .cards {
    flex-direction: column;
  }
}
.section-two {
    margin-top: 100px;
}

.pixelgrade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.pixel-left img {
    width: 100%;
    max-width: 400px;
}

.pixel-right h2 {
    font-size: 36px;
    color: #4D4D4D;
    margin-bottom: 20px;
}

.pixel-right p {
    color: #717171;
    line-height: 24px;
    margin-bottom: 30px;
}

.pixel-right button {
    width: 150px;
    height: 52px;
    background: #4CAF4F;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.section-stats{
  background-color: #f5f7fa;
}

@media (max-width: 768px) {
    .pixelgrade,
    .business {
        flex-direction: column;
        text-align: center;
    }

    .business-right {
        grid-template-columns: 1fr;
    }
}
.section-stats {
padding: 70px 0;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}


.stats-left h2 {
  font-size: 36px;
  color: #4D4D4D;
  line-height: 1.3;
}

.stats-left span {
  color: #4CAF4F;
}

.stats-left p {
  margin-top: 10px;
  color: #717171;
  font-size: 14px;
}


.stats-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 60px;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.stat-item img {
  width: 35px;
}

.stat-item h3 {
  font-size: 22px;
  color: #4D4D4D;
}

.stat-item p {
  font-size: 14px;
  color: #717171;
}

@media (max-width: 768px) {
  .stats {
    flex-direction: column;
    text-align: center;
  }

  .stats-right {
    grid-template-columns: 1fr;
  }

  .stat-item {
    justify-content: center;
  }
}
.design{
  padding: 50px 0px;

}
.stos{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .how{
font-family: Inter;
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
color: #4D4D4D;
} */
.paragrf{
font-weight: 400;
margin-top: 18px;
margin-bottom: 32px;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #717171;
}

.disignsbtn{
  padding: 14px 32px;
  background-color: #4CAF4F;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
}
.pana{
  width: 441px;
height: 433px;


}
@media (max-width: 768px) {

  .stos {
    flex-direction: column;
    text-align: center;
  }
  .how{

font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #4D4D4D;
font-family: sans-serif
}
  .design{
  padding: 20px 0px;

}
.pana{
  width: 390px;
height: 390px;
}
}
.tesla{
  padding: 50px 0px;
  background-color: #f5f7fa;
}
.teslo{
    display: flex;
  align-items: center;
  justify-content: space-between;
}
.tesla__right p{
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #717171;
}
.tesla__right h3{
  margin-top: 16px;
  margin-bottom: 8px;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
color: #4CAF4F;
}
.tesimg{
  margin-top: 32px;
  display: flex;
  gap: 41px;
  align-items: center;
  justify-content: center;
}
.tesimg h2{
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
color: #4CAF4F;
}
@media (max-width: 768px) {
.tesla{
  padding: 20px 0px;
}
  .teslo{
  flex-direction: column;
  text-align: center;
}
.tesimg{
   margin-top: 3px;
   gap: 20px;
width: 240px;
height: 240px;
flex-wrap: wrap;
margin: 0 auto;
}

.tesla__right p{
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #717171;
}
.tesimg h2{
font-weight: 400;
font-size: 18px;
}
}
.marketing{
  padding: 50px 0px;
}
.mark-top h1{
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
text-align: center;
color: #4D4D4D;
}
.mark-top p{
  margin-top: 8px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #717171;
}
.readmore_1{
  width: 368px;
height: 366px;
}
.mark-bottom{
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  
}
.read{
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
color: #717171
}
.readp {
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
color: #4CAF4F;
text-align: center;
}
.mark-bottom{
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .read{
font-size: 18px;
}
.mark-bottom{
flex-direction: column;
text-align: center;
}

.readimg{
  width: 300px;
height: 200px;


}
.mark-top h1{
font-size: 33px;
}
.mark-top p{
font-size: 14px;
}
}

.cta {
  text-align: center;
  padding: 80px 20px;
   background-color: #f5f7fa;
}

.cta h1 {
  font-size: 36px;
  color: #263238;
  margin-bottom: 20px;
}

.cta button {
  background: #4CAF4F;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 6px;
  cursor: pointer;
}

.footer {
  color: white;
  padding: 5px 0px;
  background-color: #263238;
  padding-bottom: 50px;
}


.footer-container {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  height: auto;

}
.footer-left{
padding-left: 100px;
}
.logo-box {
  
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-left p {
  font-size: 14px;
  color: #B0BEC5;
  margin-bottom: 20px;
}

.socials span {
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.footer-col {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}

.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col a {
  text-decoration: none;
  color: #B0BEC5;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-col a:hover {
  color: white;
}

.email-box {
  display: flex;
  background: #37474F;
  border-radius: 6px;
  overflow: hidden;
}

.email-box input {
  border: none;
  padding: 10px;
  outline: none;
  background: transparent;
  color: white;
}

.email-box button {
  border: none;
  background: transparent;
  color: white;
  padding: 10px;
  cursor: pointer;
}



.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-left p {
  font-size: 14px;
  color: #B0BEC5;
  margin-bottom: 20px;
}

.socials span {
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col a {
  text-decoration: none;
  color: #B0BEC5;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-col a:hover {
  color: white;
}

.email-box {
  display: flex;
  background: #37474F;
  border-radius: 6px;
  overflow: hidden;
}

.email-box input {
  border: none;
  padding: 10px;
  outline: none;
  background: transparent;
  color: white;
}

.email-box button {
  border: none;
  background: transparent;
  color: white;
  padding: 10px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .logo-box {
    justify-content: center;
  }

  .socials {
    justify-content: center;
  }

  .footer-col {
    align-items: center;
  }

  .email-box {
    width: 100%;
    max-width: 300px;
  }
}
.modal{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background: rgba(0, 0, 0, 0.45);
display: none;
align-items: center;
justify-content: center;
z-index: 2000;
}

.modal.show-modal {
display: flex;
}
.modal__box{
width: 90%;
max-width: 420px;
background : white;
background-color: white;
padding: 30px;
border-radius: 12px;
position: relative;
}

.modal__close-btn{
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}
.modal__close:hover{
  color: var(--primary);
}
.modal__box h2{
  color: var(--title-color);
  margin-bottom: 10px;
}
.modal__box p {
  color: #717171;
  margin-bottom: 20px;
}

.modal__box input{
  width: 100%;
  padding: 13px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 6px;
  outline: none;
}

.modal__btn{
  width: 100%;
 color: white;
  background-color:#4CAF4F;
  padding: 14px ;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}



button,
a,
.card,
.stat-item,
.pixel-right button,
.disignsbtn,
.cta button,
.modal__btn,
.loginbtn,
.signupbtn {
  transition: all 0.3s ease;
}



.menu li a,
.top-middle a {
  transition: 0.3s;
}

.menu li a:hover,
.top-middle a:hover {
  color: #4CAF4F;
}



.loginbtn:hover {
  background-color: #e8f5e9;
  transform: translateY(-2px);
}

.signupbtn:hover {
  background-color: #43a047;
  transform: translateY(-2px);
}


.header-btn:hover {
  background-color: #43a047;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(76, 175, 79, 0.3);
}



.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}



.pixel-right button:hover {
  background-color: #43a047;
  transform: translateY(-2px);
}


.stat-item:hover {
  transform: scale(1.05);
}



.disignsbtn:hover {
  background-color: #43a047;
  transform: translateY(-2px);
}



.footer-col a {
  transition: 0.3s;
}

.footer-col a:hover {
  color: #4CAF4F;
  transform: translateX(5px);
}


.cta button:hover {
  background-color: #43a047;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(76, 175, 79, 0.3);
}

*/

.modal__btn:hover {
  background-color: #43a047;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(76, 175, 79, 0.3);
}


.modal__box input:focus {
  border-color: #4CAF4F;
  box-shadow: 0 0 0 4px rgba(76, 175, 79, 0.15);
}
